/* CSS Columnas */
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

/* Bloque Menu */
.contenedorMenu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    background-color: black;
}
.contenedorMenu a{
    text-decoration: none;
    color: white;
}

/* Bloques Header, Footer y Elementos */
.contenedorH,.contenedorF{
    background-color: darkgrey;
    
}
.contenedorH, .contenedorF, .contenedorE, .contenedorE div{
    display: flex;
    align-items: center;
    justify-content: center;    
}

/* Contenedor Header */
.contenedorH{
    margin-bottom: 50px;
}

/* Contenedor Footer */
.contenedorF{
    margin-top: 50px;
}

/* Bloque Elementos */
.contenedorE{
    margin: 25px auto;
}
.contenedorE div{
    height: 300px;
    background-color: darkgray;
    margin: 25px;
    padding: 25px;
}

/* Adaptador de pantalla */
@media screen and (width<=768px){
    [class*="col-"]{
        width: 100%;
    }
    .contenedorE{
        flex-direction: column;
    }
}