/* Pegar margenes de los bloques al ancho de la web */
*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
}

/* CSS Columnas */
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

/* Bloque Menu */
.contenedorMenu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    background-color: black;
}
.contenedorMenu a{
    text-decoration: none;
    color: white;
}

/* Bloques Header, Footer y Elementos */
.contenedorH,.contenedorF{
    background-color: darkgrey;
    
}
.contenedorH, .contenedorF, .contenedorE, .contenedorE div{
    display: flex;
    align-items: stretch;
    justify-content: center;    
}

/* BloqueE imagenes y texto */
.contenedorE div{
    background-color: darkgray;
    padding: 25px;
}


