/* Pegar margenes de los bloques al ancho de la web */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
}

/* Fuente Texto */
.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-weight: 700;
    font-style: italic;
}

/* Para ordenadores y móviles */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* Para dispositivos móviles */
@media screen and (width<=768px) {
    [class*="col-"] {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }
}

/* Bloque Header */
.row,
.columnas {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-centrado {
    margin: auto;
}

.header {
    background-color: #333;
    flex-direction: column;
}

.ebook {
    margin-top: 100px;
    width: auto;
}

.espacio-xy {
    padding: 100px;
}

.espacio-x-70 {
    padding-left: 70px;
}

.espacio-y {
    padding-top: 100px;
}

.espacio-xy-25 {
    padding: 25px;
}

/* Contenedor 1 */
h1 {
    font-weight: normal;
    font-size: 48px !important;
    color: white;
}

/* Contenedor 2 */
.h2-Negro {
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    line-height: 1;
    text-transform: capitalize;
}

.h3-Negro {
    font-weight: normal;
    color: black;
}

.texto-2,
.h3-Negro, .h3-Autor {
    font-size: 18px;
    line-height: 24px;
}

.texto-1 {
    font-size: 20px !important;
    opacity: .6;
    color: white;
}

.texto-2 {
    font-size: 18px !important;
    line-height: 24px;
    color: #aaa;
}

.texto-3, .texto-Autor {
    font-size: 14px;
}

.texto-centrado {
    text-align: center;
}

button {
    background-color: #49b970;
    color: white;
    border: none;
    border-radius: 50px;
    width: 170px;
    height: 45px;
    font-size: 14px;
    padding: 5px 15px;
}

button:hover {
    background-color: #28a745;
}

/* Iconos */
div .material-symbols-outlined {
    font-size: 70px;
    color: #49b970;
}

.columnas {
    padding: 0 15px 0 15px;
    margin: 0;
    width: 300px;
}

.linea-separadora hr {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 2px solid rgba(0, 0, 0, .1)
}
.linea-separadora{
    padding-top: 60px;
    padding-bottom: 60px;
}

.bloque-tablet {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.bloques{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
}

picture {
    display: block;
    width: 100%;
}

picture img {
    width: 100%;
}

/* Dentro de lo  de media solo se aplica a partir de 1024px */
@media (min-width:1024px) {
    .bloque-tablet {
        flex-direction: row;
    }
}
.logo img{
    padding-left: 12px;
}
/* Se adapte la pantalla a partir de 1024 */
@media (min-width:1024px) {
    .contenedor{
        height: 850px;
    }
}
/* Para centrar los iconos con el div del texto */
.ct-1, .contenedor-Autor{
    display: flex;
    align-items: center;
}
.ajuste{
    overflow: hidden;
}

.bloque-Autor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 60px;
}
.contenedor-Autor{
    width: 100%;
    justify-content: space-between;
}
.bloque-Img{
    width: auto;
}
.bloque-Img picture img{
    height: 600px;
}
.bloque-Img2 img{
    height: 50px;
    width: 100px;
}
.ct-2{
    padding: 0 40px;
}




.bloque-Testimonios{
    width: 100%;
    padding: 100px;
}


.contenedor-TituloT{}

.contenedor-ContTes{
    display: flex;
    /* Gap -> Espacio entre hijos en flex */
    /* Row-gap -> Dar espacio a las filas */
    gap: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* article en HTML */

.contenedor-Reseña{
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 540px;
}

.comillas img{
    width: 83px;
    height: auto;
}

.texto-4{
    font-size: 14px;
    color: #bbbbbb;
    font-weight: bold;
}

.contenido-Texto{}

.imagen-P{
    width: 75px;
    height: 75px;
}

/* Bloque de Precios */
.bloque-Precios{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center ;
    width: 100%;
    padding: 100px;
    background-color: #f9f9f9;
} 
.bloque-TextoP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center ;
    width: 540px;
    height: auto;
    padding-bottom: 80px;
}

.bloque-TextoP h2{
    font-size: 36px;
    margin-bottom: 30px;
}
.bloque-TextoP p{
    font-size: 18px;
}
.bloque-Columnas{
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
}
.columnas2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid #eeeeee;
    gap: 15px;
}

.contenido-Icono{
    text-align: center;
}
.texto-Precio h3{
    padding-bottom: 20px;
    font-size: 14px;
}
.contenido-Icono span{
    font-size: 40px;
    text-align: center;
}
.texto-Precio p{
    font-size: 70px;
    font-weight: bold;
}
.texto-Precio sup{
    font-size: 25px;
    padding-left: 10px;
}

.lista{
    padding-bottom: 20px;
}
.lista p{
    font-size: 16px;
}
.texto-5{
    font-size: 16px;
    color: #bbbbbb;
}
.contenido-Boton{
    text-align: center;
    margin: auto;
}

/* Bloque con fondo negro */
.bloque-FondoN{
    background-color: #333333;
    width: 100%;
    color: white;
    margin-top: 60px;
}

.bloque-FondoN h3{
    text-align: center; 
    font-size: 40px;
}
.contenido-FondoN{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 540px;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
}
.contenido-FondoN h3{
    margin-bottom: 25px;
}
.contenido-FondoN p{
    text-align: center;
    margin-bottom: 45px;
}
.texto-6{
    font-size: 16px;
    color: #bbbbbb;
    font-weight: bold;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    font-style: none;
}
.footer p{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}
.footer a{
    text-decoration: none;
    color: #3a965a;
}
.material-symbols-outlined{
    color: red;
}
