/* Pegar margenes de los bloques al ancho de la web */
* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
    font-family: "Ubuntu", sans-serif;
    font-size: 13px;
    font-weight: 820px;
    line-height: 1.5;
}

/* Fuente Texto */
.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-weight: 700;
    font-style: italic;
}

/* Para ordenadores y móviles */
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

/* Para dispositivos móviles */
@media screen and (width<=768px){
    [class*="col-"]{
        width: 100%;
    }
    .row{
        flex-direction: column;
    }
}

/* Bloque Header */
.row, .columnas{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-centrado{
    margin: auto;
}
.header{
    height: 820px;
    background-color: #333;
    flex-direction: column;
}
.ebook{
    margin-top: 100px;
    width: auto;
}
.espacio-xy{
    padding: 100px;
}
.espacio-x-70{
    padding-left: 70px;
}
.espacio-y{
    padding-top: 100px;
}
.espacio-xy-25{
    padding: 25px;
}
/* Contenedor 1 */
h1{
    font-weight: normal;
    font-size: 48px !important;
    color: white;
}
/* Contenedor 2 */
.h2-Negro{
    font-weight: normal;
    font-size: 36px;
    line-height: 1;
    text-transform: capitalize;
}
.h3-Negro{
    font-weight: normal;
    color: black;
}
.texto-2,.h3-Negro{
    font-size: 18px;
    line-height: 24px;
}

.texto-1{
    font-size: 20px !important;
    opacity: .6;
    color: white;
}
.texto-2{
    font-size: 18px !important;
    line-height: 24px;
    color: #aaa;
}
.texto-3{
    font-size: 14px;
}
.texto-centrado{
    text-align: center;
}
button{
    background-color: #49b970;
    color: white;
    border: none;
    border-radius: 50px;
    width: 170px;
    height: 45px;
    font-size: 14px;
    padding: 5px 15px;
}
button:hover{
    background-color: #28a745;
}
/* Iconos */
div .material-symbols-outlined{
    font-size: 70px;
    color: #49b970;
}
.columnas{
    padding: 0 15px 0 15px;
    margin: 0;
    width: 600px;
}
.feature-divider {
    margin-top: 0;
    margin-bottom: 0;
}
.linea-separadora hr{
    border-top: 2px solid rgba(0, 0, 0, .1)
}


